## DATA PREPROCESSING AND DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

C:\Users\abhi\AppData\Local\Temp\ipykernel_11680\3340524581.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df=pd.read_csv('Data.csv')
df.head()

,Category,Age,Gender,ALB_Level,ALP_Level,ALT_Level,AST_Level,Liver_Fibrosis_Score,Bilirubin_Level,CHOL,CREA,Alcohol_Consumption,Diabetes
0,Normal,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,Normal,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,Normal,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,Normal,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,Normal,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [3]:
df.tail()

,Category,Age,Gender,ALB_Level,ALP_Level,ALT_Level,AST_Level,Liver_Fibrosis_Score,Bilirubin_Level,CHOL,CREA,Alcohol_Consumption,Diabetes
610,Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [4]:
df.shape

(615, 13)

In [5]:
df.size

7995

In [6]:
df.columns

Index(['Category', 'Age', 'Gender', 'ALB_Level', 'ALP_Level', 'ALT_Level',
       'AST_Level', 'Liver_Fibrosis_Score', 'Bilirubin_Level', 'CHOL', 'CREA',
       'Alcohol_Consumption', 'Diabetes'],
      dtype='object')

In [7]:
df.isnull()

,Category,Age,Gender,ALB_Level,ALP_Level,ALT_Level,AST_Level,Liver_Fibrosis_Score,Bilirubin_Level,CHOL,CREA,Alcohol_Consumption,Diabetes
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,False,False,False,False,False,False,False,False,False,False,False,False,False
611,False,False,False,False,False,False,False,False,False,False,False,False,False
612,False,False,False,False,False,False,False,False,False,False,False,False,False
613,False,False,False,False,True,False,False,False,False,False,False,False,False
614,False,False,False,False,True,False,False,False,False,False,False,False,False

In [8]:
df = df.dropna()

In [9]:
df['Category'].unique()

array(['Normal', 'Fatty liver', 'Hepatitis', 'Fibrosis', 'Cirrhosis'],
      dtype=object)

In [10]:
df.describe()

,Age,ALB_Level,ALP_Level,ALT_Level,AST_Level,Liver_Fibrosis_Score,Bilirubin_Level,CHOL,CREA,Alcohol_Consumption,Diabetes
count,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000,589.000000
mean,47.417657,41.624278,68.123090,26.575382,33.772835,11.018166,8.203633,5.391341,81.669100,38.198472,71.890153
std,9.931334,5.761794,25.921072,20.863120,32.866871,17.406572,2.191073,1.128954,50.696991,54.302407,5.348883
min,23.000000,14.900000,11.300000,0.900000,10.600000,0.800000,1.420000,1.430000,8.000000,4.500000,44.800000
25%,39.000000,38.800000,52.500000,16.400000,21.500000,5.200000,6.930000,4.620000,68.000000,15.600000,69.300000
50%,47.000000,41.900000,66.200000,22.700000,25.700000,7.100000,8.260000,5.310000,77.000000,22.800000,72.100000
75%,54.000000,45.100000,79.900000,31.900000,31.700000,11.000000,9.570000,6.080000,89.000000,37.600000,75.200000
max,77.000000,82.200000,416.600000,325.300000,324.000000,209.000000,16.410000,9.670000,1079.100000,650.900000,86.500000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 589 entries, 0 to 612
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Category              589 non-null    object
 1   Age                   589 non-null    int64
 2   Gender                589 non-null    object
 3   ALB_Level             589 non-null    float64
 4   ALP_Level             589 non-null    float64
 5   ALT_Level             589 non-null    float64
 6   AST_Level             589 non-null    float64
 7   Liver_Fibrosis_Score  589 non-null    float64
 8   Bilirubin_Level       589 non-null    float64
 9   CHOL                  589 non-null    float64
 10  CREA                  589 non-null    float64
 11  Alcohol_Consumption   589 non-null    float64
 12  Diabetes              589 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 64.4+ KB

In [12]:
pd.crosstab(df["Diabetes"], df["ALT_Level"])

ALT_Level,0.9,1.2,1.3,2.1,2.3,2.4,2.9,3.5,3.7,3.8,...,79.5,87.5,87.9,91.7,96.1,97.8,103.6,118.1,208.8,325.3
Diabetes,,,,,,,,,,,,,,,,,,,,,
44.8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47.8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53.1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82.7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86.5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df.groupby(["Bilirubin_Level","Diabetes"]).groups

{(1.42, 65.3): [595], (1.54, 71.3): [611], (1.57, 68.5): [601], (1.66, 82.0): [612], (1.72, 69.9): [605], (1.73, 70.0): [589], (1.8, 62.8): [596], (1.8, 71.8): [587], (1.88, 54.2): [597], (2.0, 79.4): [593], (2.29, 74.8): [599], (2.47, 60.6): [600], (2.5, 57.1): [604], (3.29, 78.1): [598], (3.44, 47.8): [534], (3.61, 68.6): [588], (3.65, 57.5): [586], (3.75, 44.8): [535], (3.9, 70.7): [335], (4.01, 74.2): [434], (4.02, 62.3): [594], (4.15, 75.4): [10], (4.18, 72.5): [94], (4.31, 70.7): [387], (4.32, 66.0): [419], (4.38, 70.5): [400], (4.52, 58.1): [315], (4.55, 73.7): [375], (4.63, 71.9): [14], (4.72, 65.6): [427], (4.8, 73.5): [367], (4.83, 73.8): [316], (4.91, 47.8): [538], (4.93, 71.2): [436], (4.95, 73.2): [442], (4.97, 60.5): [489], (4.97, 67.0): [421], (5.02, 65.2): [230], (5.15, 51.0): [509], (5.19, 74.4): [280], (5.23, 71.0): [359], (5.27, 71.5): [341], (5.28, 71.6): [44], (5.3, 62.5): [443], (5.33, 53.1): [539], (5.35, 67.8): [420], (5.38, 73.4): [602], (5.4, 69.0): [358], (5.46, 69.9): [9], (5.49, 69.3): [56], (5.49, 75.0): [178], (5.51, 67.2): [317], (5.57, 68.5): [610], (5.57, 72.9): [461], (5.58, 62.4): [248], (5.6, 69.0): [269], (5.6, 70.8): [46], (5.61, 63.1): [495], (5.62, 66.6): [405], (5.63, 63.2): [437], (5.68, 67.9): [233], (5.7, 66.3): [83], (5.7, 72.0): [286], (5.74, 72.5): [251], (5.75, 77.3): [558], (5.77, 70.5): [609], (5.78, 75.0): [63], (5.79, 70.0): [277], (5.82, 67.1): [7], (5.95, 65.6): [559], (5.95, 67.4): [74], (5.95, 69.5): [409], (5.95, 72.3): [53, 365], (5.96, 70.7): [356], (5.98, 66.3): [245], (5.99, 73.3): [460], (6.0, 70.5): [543], (6.0, 71.5): [331], (6.02, 56.3): [59], (6.03, 73.7): [313], (6.06, 56.9): [312, 527], (6.06, 70.0): [416], (6.08, 68.9): [320], (6.09, 72.0): [325], (6.09, 75.8): [229], (6.1, 66.7): [76], (6.15, 70.9): [381], (6.17, 69.0): [407], (6.23, 70.5): [391], (6.26, 80.6): [608], (6.3, 67.2): [149], (6.33, 66.4): [206], (6.33, 71.9): [346], (6.33, 82.7): [607], (6.35, 69.9): [250], (6.35, 78.9): [520], (6.39, 71.3): [103], (6.43, 82.3): [377], (6.44, 66.4): [164], (6.45, 70.9): [501], ...}

In [14]:
df["Diabetes"].value_counts()

Diabetes
71.9    14
73.1    13
69.9     9
71.3     8
72.4     8
        ..
77.7     1
75.9     1
78.6     1
64.4     1
82.7     1
Name: count, Length: 194, dtype: int64

In [15]:
pd.Categorical(df["Diabetes"]).describe()

            counts     freqs
categories
44.8             1  0.001698
47.0             1  0.001698
47.8             2  0.003396
51.0             1  0.001698
53.1             1  0.001698
...            ...       ...
82.7             1  0.001698
83.3             1  0.001698
83.4             1  0.001698
86.0             1  0.001698
86.5             1  0.001698

[194 rows x 2 columns]

In [16]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
608    False
609    False
610    False
611    False
612    False
Length: 589, dtype: bool

In [17]:
sum(df.duplicated())

0