## DATA PREPROCESSING AND DATA CLEANING

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv('Liver_disease_data.csv')



df.head()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
0,58,0,35.857584,17.272828,0,1,0.658940,0,0,42.734240,1
1,71,1,30.732470,2.201266,0,1,1.670557,1,0,67.309822,1
2,48,0,19.971407,18.500944,0,0,9.928308,0,0,63.738956,0
3,34,1,16.615417,12.632870,0,0,5.630129,0,0,64.555873,1
4,62,1,16.065830,1.087815,0,1,3.566218,1,0,77.868689,1

In [ ]:
df.tail()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
1695,42,0,38.498295,14.384688,0,1,0.992289,0,0,97.933961,1
1696,40,0,27.600094,5.431009,0,0,8.390492,0,0,70.260528,1
1697,38,0,38.730017,6.324302,1,2,9.314222,0,1,56.053370,1
1698,67,0,35.820798,16.899417,0,2,3.224453,0,0,26.300875,1
1699,80,0,24.060783,9.526447,0,0,9.261426,0,1,73.572893,1

In [ ]:
df.shape

(1700, 11)

In [ ]:
df.size

18700

In [ ]:
df.columns

Index(['Age', 'Gender', 'BMI', 'AlcoholConsumption', 'Smoking', 'GeneticRisk',
       'PhysicalActivity', 'Diabetes', 'Hypertension', 'LiverFunctionTest',
       'Diagnosis'],
      dtype='object')

In [ ]:
df.isnull()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1695,False,False,False,False,False,False,False,False,False,False,False
1696,False,False,False,False,False,False,False,False,False,False,False
1697,False,False,False,False,False,False,False,False,False,False,False
1698,False,False,False,False,False,False,False,False,False,False,False
1699,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df = df.dropna()

In [ ]:
df['Diagnosis'].unique()

array([1, 0], dtype=int64)

In [ ]:
df.describe()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
count,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000
mean,50.394118,0.504118,27.699801,9.832309,0.291765,0.521765,5.000993,0.142353,0.154706,59.863867,0.550588
std,17.641915,0.500130,7.210400,5.757472,0.454708,0.666262,2.847074,0.349515,0.361730,22.996262,0.497581
min,20.000000,0.000000,15.004710,0.003731,0.000000,0.000000,0.001852,0.000000,0.000000,20.019254,0.000000
25%,35.000000,0.000000,21.455414,4.841811,0.000000,0.000000,2.622121,0.000000,0.000000,40.024216,0.000000
50%,51.000000,1.000000,27.925367,9.828195,0.000000,0.000000,5.022883,0.000000,0.000000,59.513146,1.000000
75%,66.000000,1.000000,33.957668,14.871671,1.000000,1.000000,7.401642,0.000000,0.000000,79.428755,1.000000
max,80.000000,1.000000,39.992845,19.952456,1.000000,2.000000,9.994964,1.000000,1.000000,99.991413,1.000000

In [ ]:
df.corr()

,Age,Gender,BMI,AlcoholConsumption,Smoking,GeneticRisk,PhysicalActivity,Diabetes,Hypertension,LiverFunctionTest,Diagnosis
Age,1.000000,-0.009323,0.038283,0.008236,-0.013683,-0.012948,-0.015212,0.024209,0.000678,-0.013105,0.156099
Gender,-0.009323,1.000000,0.013458,-0.003312,-0.023403,0.017394,0.009379,0.000012,0.024131,0.024603,0.189558
BMI,0.038283,0.013458,1.000000,-0.024749,-0.018322,-0.007686,-0.010888,-0.007808,-0.004850,0.043684,0.167655
AlcoholConsumption,0.008236,-0.003312,-0.024749,1.000000,-0.013794,-0.016808,-0.024232,0.013490,0.016640,-0.043480,0.349610
Smoking,-0.013683,-0.023403,-0.018322,-0.013794,1.000000,-0.007374,0.007054,0.001455,0.040314,0.000838,0.200071
GeneticRisk,-0.012948,0.017394,-0.007686,-0.016808,-0.007374,1.000000,-0.011594,-0.010785,0.018990,-0.008061,0.118292
PhysicalActivity,-0.015212,0.009379,-0.010888,-0.024232,0.007054,-0.011594,1.000000,-0.006939,0.018569,-0.010393,-0.116689
Diabetes,0.024209,0.000012,-0.007808,0.013490,0.001455,-0.010785,-0.006939,1.000000,0.049166,0.018153,0.107480
Hypertension,0.000678,0.024131,-0.004850,0.016640,0.040314,0.018990,0.018569,0.049166,1.000000,0.007847,0.170683
LiverFunctionTest,-0.013105,0.024603,0.043684,-0.043480,0.000838,-0.008061,-0.010393,0.018153,0.007847,1.000000,0.354003
Diagnosis,0.156099,0.189558,0.167655,0.349610,0.200071,0.118292,-0.116689,0.107480,0.170683,0.354003,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 1700 non-null   int64
 1   Gender              1700 non-null   int64
 2   BMI                 1700 non-null   float64
 3   AlcoholConsumption  1700 non-null   float64
 4   Smoking             1700 non-null   int64
 5   GeneticRisk         1700 non-null   int64
 6   PhysicalActivity    1700 non-null   float64
 7   Diabetes            1700 non-null   int64
 8   Hypertension        1700 non-null   int64
 9   LiverFunctionTest   1700 non-null   float64
 10  Diagnosis           1700 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 146.2 KB

In [ ]:
pd.crosstab(df["Diabetes"], df["Hypertension"])

Hypertension     0    1
Diabetes
0             1243  215
1              194   48

In [ ]:
df.groupby(["Hypertension","Diabetes"]).groups

{(0, 0): [0, 2, 3, 5, 6, 7, 8, 9, 10, 12, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 34, 36, 37, 38, 40, 41, 42, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 57, 60, 63, 64, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 81, 82, 85, 86, 87, 88, 90, 91, 95, 96, 97, 98, 99, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 119, 120, 121, 123, 124, 125, 126, 127, 129, 130, 131, 132, 133, 134, ...], (0, 1): [1, 4, 13, 14, 28, 32, 35, 39, 59, 62, 72, 83, 84, 89, 92, 93, 118, 128, 141, 148, 178, 179, 188, 195, 200, 213, 223, 226, 265, 267, 269, 273, 279, 285, 310, 312, 325, 329, 336, 349, 354, 358, 365, 384, 396, 400, 426, 431, 437, 442, 461, 467, 470, 472, 482, 509, 515, 517, 521, 535, 536, 550, 577, 580, 596, 599, 619, 620, 626, 646, 668, 674, 682, 685, 690, 691, 692, 695, 702, 703, 710, 711, 723, 724, 733, 746, 748, 754, 756, 759, 765, 767, 787, 788, 791, 800, 819, 820, 843, 847, ...], (1, 0): [19, 33, 43, 44, 48, 54, 58, 61, 65, 66, 78, 80, 94, 100, 117, 122, 142, 145, 156, 161, 167, 194, 199, 209, 233, 237, 241, 242, 243, 246, 247, 251, 252, 253, 255, 261, 288, 292, 305, 307, 320, 323, 326, 331, 337, 340, 342, 346, 353, 359, 367, 368, 369, 387, 390, 391, 397, 398, 401, 417, 419, 422, 423, 424, 435, 438, 469, 485, 506, 507, 520, 542, 552, 565, 567, 570, 572, 574, 578, 587, 601, 613, 615, 631, 662, 666, 688, 701, 704, 709, 712, 725, 730, 739, 781, 782, 785, 813, 838, 854, ...], (1, 1): [11, 157, 159, 181, 254, 276, 352, 360, 366, 464, 476, 508, 562, 655, 696, 714, 721, 762, 872, 878, 909, 951, 966, 1016, 1041, 1140, 1190, 1236, 1316, 1322, 1338, 1383, 1391, 1400, 1410, 1441, 1519, 1529, 1546, 1570, 1580, 1583, 1595, 1596, 1601, 1634, 1653, 1660]}

In [ ]:
df["Diagnosis"].value_counts()

Diagnosis
1    936
0    764
Name: count, dtype: int64

In [ ]:
pd.Categorical(df["Hypertension"]).describe()

            counts     freqs
categories
0             1437  0.845294
1              263  0.154706

In [ ]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1695    False
1696    False
1697    False
1698    False
1699    False
Length: 1700, dtype: bool

In [ ]:
sum(df.duplicated())

0